.sandbag-graph {
	width: 100%;
	/*height: 200px;*/
	/*margin-bottom: 120px;*/
}

.bar {
	position: relative;
	display: inline-block;
	/*margin: 0 10px 0 10px;*/
	margin: 0;
	font: 10px sans-serif;
}
.bar-highlighted {

}
.bar-label {
	position: absolute;
	transform: rotate(45deg);
	text-align: left;
	width: 150px;
	transform-origin: left bottom;
}
.bar-highlighted .bar-label {
	font-weight: bolder;
	font-size: 12px;
}
.sandbag {
	height: 100%;
	/*width: 30px;*/
	width: 100%;
	margin: 0 auto;	/*horizontally align within container (right margin is auto)*/
}
.sandbag > div:first-child {
	border-radius: 2px 2px 0 0;
}