{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{% static "main/favicon.ico" %}" />
    <title>Emmett Moore</title>
    {% block foundation %}
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "main/lib/foundation/css/foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main/build/css/eb-core.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main/build/css/app.css" %}">

      <script type="text/javascript" src="{% static "main/lib/jquery/jquery.min.js" %}"></script>
      <script type="text/javascript" src="{% static "main/lib/foundation/js/vendor/foundation.js" %}"></script>
      <script type="text/javascript" src="{% static "main/lib/foundation/js/app.js" %}"></script>
    {% endblock foundation %}
    {% block extra_assets %}
    {% endblock extra_assets %}

  </head>
  <body>
  {% block body %}
    {% block top_bar %}
      <nav class="top-bar" >
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text top-bar-title">Emmett Moore</li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class= "dropdown menu" data-dropdown-menu>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/">About Me</a></li>
          </ul>
        </div>
      </nav>
    {% endblock top_bar %}
    <div class="viewport-content">
      {% block viewport_content %}
        Override me.
      {% endblock viewport_content %}
    </div>
    {% block footer %}
      <div class="footer">
        <div class="footer-inner">
          <div class="about-site">
            This site was built with
            <ul class="bold">
              <li>Django</li>
              <li>Heroku</li>
              <li>Foundation</li>
              <li>Gulp</li>
              <li>SCSS</li>
            </ul>
          </div>
          <div class="middle-section">
          </div>
          <div class="social">
            <a class="icon-wrapper" href="https://www.github.com/ewmoore823" target="_blank">
              <i class="fab fa-github-square"></i>
            </a>
            <a class="icon-wrapper medium-space-left" href="https://www.linkedin.com/in/emmett-moore" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    {% endblock footer %}
    {% block after_body_scripts %}
    {% endblock after_body_scripts %}
  {% endblock body %}
  </body>
</html>
