{% extends "main/base.html" %}
{% load staticfiles %}
{% block extra_assets %}
  <link rel="stylesheet" type="text/css"
        href="{% static "main/build/css/timeline.css" %}">
{% endblock extra_assets %}

{% block viewport_content %}
  <div class="about-me">
    <div class="medium-space-left text-portion">
      <h5 class="bold">Hello! My name is Emmett, and I live in Somerville, MA.</h5>
      <p>
        I spent my childhood in Houston, TX, but moved to the greater Boston area just in time for high school.
      </p>
      <p>
      I went to <a href="https://www.tufts.edu">Tufts University</a> where I discovered my dormant passions for <strong>computer science</strong> and <strong>climbing</strong>.
      </p>
      <p>
        After graduating in 2015, I worked as a full stack software engineer at <a href="https://www.insightsquared.com" target="_blank">InsightSquared</a> until October 2018, when I joined <a href="https://neighborschools.com" target="_blank">NeighborSchools</a> as the first employee.
      </p>
      <p>
        When I am not working or climbing, I am usually:
        <ul>
          <li>Outside</li>
          <li>Riding my bike around the city</li>
          <li>Working on this site, or various other projects.</li>
          <li>Playing with my (parents') dogs.</li>
          <li>Reading</li>
        </ul>
      </p>
    </div>
    <div class="image-portion">
      <img src="https://s3.us-east-2.amazonaws.com/emmettwmoore-assets/suburban3.jpg"></img>
    </div>
  </div>
{% endblock viewport_content %}
