{% extends "main/base.html" %}
{% load staticfiles %}
{% block extra_assets %}
  <link rel="stylesheet" type="text/css"
        href="{% static "main/build/css/timeline.css" %}">
{% endblock extra_assets %}

{% block viewport_content %}
  <div class="about-me">
    <div class="medium-space-left text-portion">
      <h5 class="bold">Hello! My name is Emmett, and I live in Somerville, MA.</h5>
      <p>
        I spent my childhood in Houston, TX, but moved to the greater Boston area just in time for my angsty teenage years.
      </p>
      <p>
        I graduated from <a href="https://www.tufts.edu">Tufts University</a> in 2015 with a BS in <strong>Computer Science</strong>. Growing up, both my parents were programmers. It was only natural that I would try to avoid my fate for a semester or two, but I eventually came to follow in their footsteps. I quickly fell in love with the opportunity to use technical skills to solve tangible problems that are important to me.
      </p>
      <p>
        While in school, I also started rock climbing. I love that climbing requires persistence and creativity, and that it is an independent sport with a great community. I also love that it is best enjoyed in unreasonably beautiful places.
      </p>
      <p>
        Since graduation, I have applied my interesting in programming to my job as a full stack software engineer at <a href="https://www.insightsquared.com" target="_blank">InsightSquared</a>.
      </p>
      <p>
        When I am not working or climbing, I am usually:
        <ul>
          <li>Riding my 1980-something Univega around the city until the next thing eventually breaks and I stubbornly try to fix it myself.</li>
          <li>Working on this site, or various other projects.</li>
          <li>Listening to new music (I used to play, now I just listen, but maybe someday I'll get back into playing again).</li>
          <li>Outside.</li>
          <li>Playing with my (parents') dogs.</li>
          <li>Reading.</li>
          <li>Watching the Red Sox.</li>
        </ul>
      <p>
    </div>
    <div class="image-portion">
      <img src="https://s3.us-east-2.amazonaws.com/emmettwmoore-assets/suburban3.jpg"></img>
    </div>
  </div>
{% endblock viewport_content %}
