{% extends "main/base.html" %}
{% load staticfiles %}
{% block extra_assets %}
  <link rel="stylesheet" type="text/css"
        href="{% static "main/build/css/resume.css" %}">
{% endblock extra_assets %}

{% block viewport_content %}
  <div class="section-wrapper border-bottom">
    <div class="entity">
      <img
        class="large-padding-top center"
        src="https://s3.us-east-2.amazonaws.com/emmettwmoore-assets/neighborschools-logo.svg"
        height="500"
        width="500"/>
    </div>
    <div class="blurb">
      <h4 class="bold">NeighborSchools</h4>
      <h5 class="bold">Senior Software Engineer</h5>
      <em>November 2018 - Present</em>
      <p>
        NeighborSchools is an early-stage startup that is trying to fix the broken state of child care in the U.S. We work with prospective child care providers to help them open and operate their own in-home programs.
      </p>
      <h6 class="bold">Technologies Used</h6>
      <ul>
        <li>React.js</li>
        <li>GraphQL</li>
        <li>Next.js</li>
        <li>Node.js</li>
        <li>Material UI</li>
        <li>Express</li>
        <li>AWS</li>
      </ul>
    </div>
  </div>
  <div class="section-wrapper border-bottom">
    <div class="entity">
      <img class="medium-padding-top center" src="{% static "main/assets/is2-logo.png" %}" height="200" width="200"/>
    </div>
    <div class="blurb">
      <h4 class="bold">InsightSquared</h4>
      <h5 class="bold">Software Engineer</h5>
      <em>September 2015 - October 2018 (3+ years)</em>
      <p>
        InsightSquared provides a web-based business intelligence platform to help executives and sales operations leaders make better decisions.
      </p>
      <p>
        At InsightSquared, I work as a full-stack engineer building web services that help customers analyze their CRM data and easily manage their portal configurations.
      </p>
      <h6 class="bold">Technologies Used</h6>
      <ul>
        <li>Django/Python</li>
        <li>Coffeescript</li>
        <li>Knockout.js</li>
        <li>MYSQL</li>
        <li>Linux/Unix Systems</li>
        <li>Foundation</li>
        <li>AWS</li>
      </ul>
    </div>
  </div>
  <div class="section-wrapper border-bottom">
    <div class="entity">
      <img class="medium-padding-top center" src="{% static "main/assets/ibm-logo.svg" %}" />
    </div>
    <div class="blurb">
      <h4 class="bold">IBM</h4>
      <h5 class="bold">Software Engineering Intern</h5>
      <em>June-August 2013 (3 months)</em>
      <p>
      At IBM, I used Component Object Model to facilitate integration of IBM applications and Microsoft Outlook. I also researched open-source solutions to this problem.
      </p>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="entity">
      <img class="small-padding-top center" src="{% static "main/assets/tufts-logo.png" %}" />
    </div>
    <div class="blurb">
      <h4 class="bold">Tufts University</h4>
      <h5 class="bold inline-block">BS Computer Science</h5>
      <em> 2011-2015</em>
      <p><em>magna cum laude</em></p>

    </div>
  </div>

{% endblock viewport_content %}
