{% extends "main/base.html" %}
{% load staticfiles %}
{% block extra_assets %}
  <link rel="stylesheet" type="text/css"
        href="{% static "main/build/css/timeline.css" %}">
{% endblock extra_assets %}
{% block after_body_scripts %}
  {{ block.super }}
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{% static "main/d3/d3.js" %}"></script>
{% endblock after_body_scripts %}

{% block viewport_content %}
  <div class="timeline-wrapper">
    <h3>How Many Days Did I Climb Outside Each Month?</h3>
    <svg class="line-graph"></svg>
  </div>
{% endblock viewport_content %}
