@import 'eb-colors';

$footer-height: 120px;
$footer-height-narrow: 198px;

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


nav.top-bar {
  border-bottom: 3px solid $eb-blue;
  background-color: $eb-blue;

  ul.dropdown.menu {
    background-color: $eb-blue;
  }

  li {
    &.top-bar-title {
      padding: 11px 20px 11px 11px;
      color: $eb-white;
    }
    > a {
      color: $eb-white !important;
      font-weight: 700;
      margin: 11px 11px 5px 11px;
      padding: 0px 0px 6px 0px;
      &:hover {
        padding: 0px 0px 4px 0px;
        border-bottom: 2px solid $eb-orange;
      }
    }
  }
}

.viewport-content {
  flex: 1;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.about-me {
  padding-top: 40px;
  max-width: 50%;
}

// media query 750 px: move icons


.footer {
  height: $footer-height;
  background-color: $eb-blue;
  color: $eb-white;
  .footer-inner {
    display: flex;
    .about-site {
      margin: 7px 7px 0px 7px;
      flex: 1;
      ul {
        margin: 8px;
        overflow: hidden;
      }
      li {
        width: 50%;
        list-style-type: none;
        line-height: 1.5em;
        float: left;
        display: inline;
      }
    }
  }
  .middle-section {
    flex: 2;
  }
  .social {
    padding: 23px 34px 0px 0px;
  }
  .icon-wrapper {
    font-size: 3em;
    .fab {
      color: $eb-white;
    }
    .fab:hover {
        color: $eb-orange;
    }
  }
}

@media (max-width: 750px) {
  .footer {
    height: $footer-height-narrow;
    .footer-inner {
      .about-site {
        li {
          width: 100%;
          line-height: 1.6em;
        }
      }
    }
    .social {
      padding-top: 54px;
    }
    .middle-section {
      flex: 0;
    }
  }
}
