@import 'eb-colors';

$footer-height: 120px;

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


nav.top-bar {
  border-bottom: 3px solid $eb-blue;
  background-color: $eb-blue;

  ul.dropdown.menu {
    background-color: $eb-blue;
  }

  li {
    &.top-bar-title {
      padding: 11px 20px 11px 11px;
      color: $eb-white;
    }
    > a {
      color: $eb-white !important;
      font-weight: 700;
      margin: 11px 11px 5px 11px;
      padding: 0px 0px 6px 0px;
      &:hover {
        padding: 0px 0px 4px 0px;
        border-bottom: 2px solid $eb-orange;
      }
    }
  }
}

.viewport-content {
  flex: 1;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.about-me {
  padding-top: 40px;
  max-width: 50%;
}

.footer {
  display: flex;
  height: $footer-height;
  background-color: $eb-blue;
  color: $eb-white;
  .about-site {
    margin: 7px;
    flex: 1;
    ul {
      margin: 8px;
      overflow: hidden;
    }
    li {
      width: 50%;
      list-style-type: none;
      line-height: 1.5em;
      float: left;
      display: inline;
    }
  }
  .middle-section {
    flex: 2;
  }
  .social {
    padding: 23px 21px 0px 0px;
    margin-right: 13px;
  }
  .icon-wrapper {
    font-size: 3em;
    .fab {
      color: $eb-white;
    }
    .fab:hover {
        color: $eb-orange;
    }
  }
}
