@import 'eb-colors';
.medium-space-left {
  margin-left: 20px;
}

.bold {
  font-weight: 700;
}

.icon-wrapper {
  margin-top: 10px;
  font-size: 3em;
  .fab:hover {
    color: $eb-orange;
  }
}

a, a:hover {
  color: $eb-white !important;

}
